<%- include zheader %>
<%- include zsidenav %>

<!-- 主体内容 start-->
<section class="z-main">
<ul class="z-list" id="z-list">
<% posts.forEach(function (post, index) { %>
  <li>
    <div class="z-title clearfix">
      <p>作者：<a href="/u/<%= post.name %>"><span class="z-author"><%= post.name %></span></a>发表日期：<span class="z-time"><%= post.time.minute %></span></p>
        <a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">
          <h6><%= post.title %></h6>
        </a>
    </div>
  </li>
<% }) %>
</ul>

<%- include zfooter %>
